In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [8]:
dataset = pd.read_csv('C:/Users/Abhishek Yadav/OneDrive/Documents/GitHub/Machine_Learning/Dataset/New York Stock Exchange/prices-split-adjusted.csv')

In [11]:
label = dataset['close']

In [16]:
dataset.drop(['close'], axis =1, inplace= True)

In [18]:
dataset.drop(['date','symbol'], inplace= True, axis=1)

In [19]:
# Normalization of the above data
# Date
Dataset_mean = np.mean(dat)

              open         low        high     volume
0       123.430000  122.309998  126.250000  2163600.0
1       125.239998  119.940002  125.540001  2386400.0
2       116.379997  114.930000  119.739998  2489500.0
3       115.480003  113.500000  117.440002  2006300.0
4       117.010002  114.089996  117.330002  1408600.0
...            ...         ...         ...        ...
851259  103.309998  102.849998  103.930000   973800.0
851260   43.070000   42.689999   43.310001  1938100.0
851261   53.639999   53.270000   53.740002  1701200.0
851262   44.730000   44.410000   45.590000  1380900.0
851263   54.200001   53.389999   54.480000   705100.0

[851264 rows x 4 columns]